<% layout("/layouts/boilerplate") %>

  <div class="row m-1">
    <div class="col-lg-8 col-10 offset-lg-2 offset-1">
      <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="mt-3 mb-5 needs-validation"
        enctype="multipart/form-data" novalidate>

        <h1 class="text-center mb-3">Edit Listing</h1>

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="listing[title]" placeholder="Enter the title" value="<%=listing.title %>"
            class="form-control" required />
          <div class="valid-feedback">Title Looks good!</div>
          <div class="invalid-feedback">Valid Title Should be Entered!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="listing[description]" class="form-control"
            placeholder="Enter the description" required><%= listing.description %>
    </textarea>
          <div class="valid-feedback">Description Looks good!</div>
          <div class="invalid-feedback">Valid Description Should be Entered!</div>
        </div>

        <div class="mb-3">
          <div class="mb-1">
            <h6>Original Image</h6>
            <img src="<%= originalImageUrl %>" alt="<%= listing.title %>" class="img-fluid rounded" />
          </div>
          <label for="image" class="form-label mt-2">Upload New Image</label>
          <input type="file" id="image" name="listing[image]" class="form-control" accept=".jpg, .jpeg, .png" />
          <small class="form-text text-danger">Supported formats: JPG, JPEG, PNG</small>
        </div>
        

        <div class="row">

          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" name="listing[price]" class="form-control" placeholder="Enter the price"
              value="<%=listing.price %>" required />
            <div class="valid-feedback">Price Looks good!</div>
            <div class="invalid-feedback">Valid Price Should be Entered!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter the country"
              value="<%=listing.country %>" required />
            <div class="valid-feedback">Country Looks good!</div>
            <div class="invalid-feedback">Valid Country Should be Entered!</div>
          </div>

        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" id="location" name="listing[location]" class="form-control"
            placeholder="Enter the location" value="<%=listing.location %>" required />
          <div class="valid-feedback">Location Looks good!</div>
          <div class="invalid-feedback">Valid Location Should be Entered!</div>
        </div>

        <div class="d-flex justify-content-center gap-2">
          <button type="submit" id="submit-btn" class="btn">Update</button>
          <a href="/listings/<%= listing._id %>" id="cancel-btn" class="btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>