<% layout("/layouts/boilerplate") %>

    <div class="filters d-none d-lg-flex justify-content-between align-items-start gap-1 mt-3">
        <div class="d-flex mx-4 gap-4">
            <div class="filter fw-semibold">
                <a href="/listings/category/trending"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </a>
            </div>

            <div class="filter fw-semibold">
                <a href="/listings/category/rooms"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/cities"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/mountains"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Moutains</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/castles"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/camp"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/beaches"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Beaches</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/domes"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Domes</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/artics"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Artics</p>
                </a>
            </div>
            <div class="filter fw-semibold">
                <a href="/listings/category/farms"
                    class="text-dark text-decoration-none d-flex align-items-center flex-column">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>
                </a>
            </div>
        </div>

        <div
            class="form-check-reverse form-switch border border-secondary rounded-pill p-2 mt-1 d-flex align-items-start mx-5">
            <label class="form-check-label" for="switchCheckDefault">Display total after Taxes</label>
            <input class="form-check-input mx-2" type="checkbox" role="switch" id="switchCheckDefault" />
        </div>
    </div>

    <% if (!allListings.length) { %>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="card text-center shadow-sm p-4 mx-5" style="max-width: 500px">
                <div class="card-body">
                    <i class="bi bi-info-circle-fill text-primary fs-1 mb-3"></i>
                    <!-- Bootstrap icon -->
                    <h5 class="card-title mb-2">No Listings Available</h5>
                    <p class="card-text text-muted">There are currently no listings in this category. Please check again later.</p>
                </div>
            </div>
        </div>
        <% } %>

            <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 m-2">
                <% allListings.forEach((listing)=> { %>

                    <a href="/listings/<%= listing._id %>" class="text-decoration-none">
                        <div class="card col mb-3 border border-0">
                            <img src="<%= listing.image.url %>" class="card-img-top rounded-4 w-100 object-fit-cover"
                                alt="<%= listing.title %>" style="height: 20rem" />
                            <div class="card-img-overlay opacity-50"></div>
                            <div class="card-body p-0">
                                <p class="card-text fw-semibold">
                                    <b>
                                        <%= listing.title %>
                                    </b> <br />
                                    &#x20b9;<%= listing.price.toLocaleString("en-IN") %>/night
                                        <i class="d-none tax-info">&nbsp;+18% GST</i>
                                </p>
                            </div>
                        </div>
                    </a>

                    <% }); %>
            </div>