<% layout("/layouts/boilerplate") %>
        <div class="listing-container">

    <h1>All Listings</h1>
    <ol class="listing-list">
        <% allListings.forEach((listing) => { %>
            <li>
                <h2><%= listing.title %></h2>
                <p><%= listing.description %></p>
                <p>Price: &#x20b9;<%= listing.price.toLocaleString("en-IN") %></p>
                <p>Image: <a href=<%= listing.image %>>Click Here</a></p>
                <p>Location: <%= listing.location %></p>
                <p>Country: <%= listing.country %></p>
                <a href="/listings/<%= listing._id %>">Show Listing</a>
            </li>
        <% }); %>
    </ol>

</div>
